h1 {
  text-indent: 20px;
  font-size: 20px;
}

header h1 {
  background: grey;
}

section nav ol {
  margin: 20px;
  padding: 10px;
  text-align: center;
}

section nav ol li {
  display: inline-block;
}
