header {
	background: grey;
	padding: 30px;
}
header nav ul {
	list-style: none;
}
nav ul li {
	display: inline;
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-align: left;

}
nav ul li a {
	text-decoration: none;
	color: white;
	font-weight:normal;
	padding: 30px;
	font-size: 20px;
}
section img {
	vertical-align:middle;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

section article h1 {
	font-size: 40px;
	text-align: center;
}
section article p {
	color:grey;
	display: block;
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 25px;
	margin-left: 550px;
	margin-right: 0px;
	margin-top: 0px;
	width: 750px;
	height: 56px;
	
	


}

article p a {
	color:green;
}